 .topnav{
	background: #FFDB58;
}
.topnavbar .container{
	margin-left: 107px !important;
}
.toggle-costume{
	float: left;
}

#navbarontop{
	padding-left: 312px;
	padding-top: 17px;
	height:69px; 
}
@font-face {
  font-family: "BebasNeue Regular";
    src: url(../source/fonts/BebasNeue-Regular.otf) format("truetype");
}
  #navbarontop > li > a {
  	font-family: 'BebasNeue Regular';
  	font-size: 20px;
  	color: #313943;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 22px;
 	padding-left: 10px;
    padding-right: 10px!important;
    margin-left: 34px;
    border-bottom: 2px solid rgba(0,0,0,.0);

  }
  #navbarontop > li >a:hover{
  	background-color: none!important;
  	background: none!important;
  	border-bottom: 2px solid #C59E47;
  }
 

 #navbarontop>button{
 	background: none;
 	background-color: none;
 	border: 2px solid #C59E47;
 	font-family: 'BebasNeue Regular';
 	margin-left: 60px;
  	font-size: 16.99px;
  	color: #313943;
  	padding-left: 19px;
  	padding-right: 19px;
  	padding-top: -2px;
  	padding-bottom:-2px;
 }
 #navbarontop>button:hover{
 	background-color: #C59E47;
 	color: #fff;
 }

#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
	background-color: none!important;
  	border-color: #C59E47;
}
#navbarontop a:focus {
  outline: none;
  border-bottom: 2px solid #C59E47; 
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #fff;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

 /*----------------- Navbar On Top Media screen -------------*/
@media screen and (min-width: 320px) and (max-width: 480px){
.topnavbar .container{
	margin-left: 10px !important;
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 26px; 
	height: 250px;
}
}
@media screen and (min-width: 481px) and (max-width: 767px){
.topnavbar .container{
	margin-left: 10px !important;
}

 #navbarontop>button{
 	margin-left:50px;
 
 }

#navbarontop{
	 padding-left: 0px;
	padding-top: 40px; 
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}


}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.topnavbar .container {
		margin-left: 50px !important;
	}
	#navbarontop{
		padding-left: 25%;
	}
	#navbarontop > li > a {
    padding-bottom: 6px;
    margin-bottom: 22px;
 	padding-left: 0px;
    padding-right: 0px!important;
    margin-left: 20px;

  }
}



/* ------------------------ End Navbar On Top -----------------*/
/*------------------------- Start Carousel --------------------*/


@font-face{
	font-family: "OpenSans Semibold";
	src: url(../source/fonts/OpenSans-Semibold.ttf) format("truetype");

}
.carousel-caption{
	z-index: 999;
}
.carousel-caption>h2{
	text-align: left;
	font-family: 'OpenSans Semibold';
	font-size: 25.12pt;
	text-shadow: 0 0px 0px rgba(0, 0, 0, .0);

}
@font-face{
	font-family: "OpenSans Regular";
	src:url(../source/fonts/OpenSans-Regular.ttf) format("truetype");
}
.carousel-caption>h2>p{
font-family: :'OpenSans Regular';
font-size: 15.88pt;
}
.carousel-caption {
    top: 35%;
    left:13%;
    right:auto;
    bottom: auto;
}

@media screen and (min-width: 320px) and (max-width:767px){
.carousel-caption>h2{
	font-size: 13pt;
}
.carousel-caption {
    top: 15%;

}
 
.carousel-caption>p{
font-size: 10pt;
}	
}
 

/* -----------------------------Second Navbar ---------------------------------------*/
.downicon{
	padding-left: 40px;
}
.midle-nav{
	background: rgba(248,199,45,.8);
 	border: 0px;
 	position: absolute;
 	bottom: 0px;
 	width: 100%;
 	margin: 0px;
 	border-radius: 0px;
 
 
}
#navbarmidle{
		padding-left: 6.6%;
		padding-bottom: 26px;
		width: 100%;
 
}
.searchtxt{
	max-width: 1349px;
}
.searchtxt>h1{
	font-family: "OpenSans Semibold";
	font-size: 22pt;
	color: #fff;
	margin-top: 14px;
	margin-bottom: 14px;
	padding-left: 15px;
	max-width: 1349px;

}
.navbar-default .textcostume:hover,
.navbar-default .textcostume:focus {
  background-color: #fff;
}
.navbar-default .textcostume:hover .icon-bar {
  background-color: #000;
}
.navbar-default .textcostume:focus .icon-bar{
	background-color: #000;
}
.navbar-default .textcostume .icon-bar {
  background-color: #fff;
}
.navbar-default .textcostume {
  border-color: #fff;
}
.navbar-default .textcostume . {
  border-color: #fff;
}
.navbarborder>li{
	margin-right: 9px;
}
.navbarborder>li>a{
	font-family: "OpenSans Regular";
	font-size: 13pt;
	color: #fff !important;
	background-color: none;
	padding-top: 11px;
	padding-bottom: 11px;
	border: 1px solid #fff!important;
}
.navbarborder>li>a:hover{
	color: #F8C72D !important;
	background-color: #fff!important;

}
.navbarborder>li:last-child{
 	padding-right: 0px;
 	margin-right: 0px;
	margin-left: 30px;
	padding-right: 0px;
}
.searchform{
	padding-right: 250px;
	background: none;
	background-color: none;
	border: 1px solid #fff;
	border-radius: 0px;
	box-shadow: 0px;
	box-shadow: inset 0px;
	height: 44px;
	margin: 0px;
}
.searchform:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
}
.searchformmargin{
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-right: 9px;
}
.searchform::-webkit-input-placeholder {
    color: #fff;
    font-family: "OpenSans Regular";
    font-size:13pt;
    box-shadow: 0px;
 

}
.searchform::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
    font-family: "OpenSans Regular";
    font-size: 13pt;
    box-shadow: 0px;
 

}

.searchnav{
	margin-right: 7.3%;
}
.searchbutton{
	border: 0px;
	background: none;
	background-color: none;
	font-size: 13pt;
	color: #fff;
	padding-top: 20px;
}
.btn-costume{
	border-radius: 0px;
}

 

@media only screen and (min-width: 1366px){
	.li-category{
		width: 205px;
	}
	.li-minyear{
		width: 156px;
	}
	.li-maxyear{
		width: 156px;
	}
	.li-slideprice{
		margin-left: 36px;
		width: 249px;
	}
	.li-search{
		margin-left: 40px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1365px){
	.midle-nav{
		position: relative;
		background: rgb(248,199,45);
		top:0px;
 
 
}
 
.searchtxt>h1{
	font-size: 18pt;
 
 
	padding-left: 0px;

}
.navbarborder>li{
	padding-right: 9px;
 
}
.searchform{
	padding-right: 10px;
	height: 44px;
	margin: 0px;
	margin-right: 9px;
}
.searchformmargin{
	margin-bottom: 20px;
 
 
}


}
@media screen and (min-width: 1065px) and (max-width: 1140px){
	#navbarmidle{
		padding-left: 10px;
		padding-right: 0px;
	}
}
 
@media screen and (min-width:768px)and (max-width: 1064px){
 #navbarmidle{
 	max-width: 671px;
 	margin-right: auto;
 	margin-left: auto;

 padding-right: 0px;
padding-left: 0px;
 }
.navbarborder{
	width: 520px;
}	
	 #amount{
	 	width: 100px;
	 	font-size: 10px;
	 }
	  #slider-range{
	 	width: 130px!important;
	 }
	 .li-slideprice>p{
	 	font-size: 10px;
	 	width: 132px;
	 }
	 .li-slideprice{
	 	width: 135px;
	 }
.navbarborder>li>a{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.downicon{
		padding-left: 5px;
		margin-left: 5px;
	}
.searchform{
	width: 40px;
}
.searchform::-webkit-input-placeholder {
    font-size:11pt;
}
.searchform::-moz-placeholder {
    font-size: 11pt;
}
.navbar-form .searchform{
	width: 133px;
}
.navbarborder>li:last-child{
	margin-left: 0px;
}
}
@media screen and (max-width: 767px){
#navbarmidle{
	padding-left: 20px;
	background: rgb(248,199,45);
}
.navbarborder>li:last-child {
	margin-left: 0px;
}
.navbarborder>li{
	margin-right: 0px;
}	
	.li-category{
		width: 100%;
	}
	.li-minyear{
		width: 100%;
	}
	.li-maxyear{
		width: 100%;
	}
	#amount{
	 	width: 50%;
	 	font-size: 14px;
	 }
	  #slider-range{
	 	width: 98%!important;
	 }
	 .li-slideprice>p{
	 	font-size: 14px;
	 	width: 100%;
	 }
	 .li-slideprice{
	 	width: 100%;
	 	margin-left: 0px;
	 }
.midle-nav{
		position:relative;
		top:0px;
		background: rgba(248,199,45,.9)
	}
	.navbarborder{
		margin-left: 0px;
		margin-right: 0px;
	}
	.navbarborder>li{
		padding-left: 0px;
		padding-bottom: 20px;
		padding-right: 0px;
	}
	.navbarborder>li>a{
		font-weight: bold;
	}

 .textcostume>h1{
	position: absolute;
	left: -239px;
	top: -21px;
	font-family: "OpenSans Semibold";
	font-size: 22pt;
	color: #fff;

 }
 .searchtxt>h1{
 	font-size: 0pt;
}
.searchbutton{
display: block;
margin-right: auto;
margin-left: auto;
}
.searchform::-webkit-input-placeholder {
font-weight: bold;
}
.searchform::-moz-placeholder {
    /* FF 19+ */
font-weight: bold;
 

}
.searchformmargin{
	margin-bottom: 20px;
	border: 0px;
	padding: 0px;
	margin-right: 0px;
}

}

 
/*   ---------------------------   fetured cars   ---------------------------------    */
@font-face{
	font-family: "OpenSans-Light";
	src: url(../source/fonts/OpenSans-Light.ttf) format("truetype");
}
.feturedsection>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	padding-top: 46px;
	padding-bottom: 50px;
	color: #020243;
}

.row{
	padding: 0px;
	margin: 0px;

}


@media screen and (min-width: 320px) and (max-width: 480px){
	.feturedsection>h1{
	font-size: 15pt;
	padding-top: 20px;
	padding-bottom: 20px;
 
}

}
@media screen and (min-width: 480px) and (max-width: 640px){
	.feturedsection>h1{
	font-size: 20pt;
}
}

/* -----------------------MOVIES NOW SHOWING --------------------------------------------------------*/
.img1colon{
	max-width:46.3%;
}
.img1colon>img{
 
	width: 100%;
  
}
.costumrow{
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;	
}
.txt1colon{
	width: 53.7%;
}
.featurecontant{
	width:85%;
	height: auto;
	border: 1px solid #C59E47;
	margin-top: 7%;
 
	margin-right: auto;
	margin-left: auto;
 
}
.featurecontant>h1{
	font-family: "OpenSans Regular";
	font-size: 19.8px;
	text-align: center;
	color: #5B5B5B;
	margin-top:14%;
	margin-bottom: 8px;

}
.featurecontant>p{
	font-family: "OpenSans Regular";
	font-size: 11.44px;
	text-align: center;
	color: #5B5B5B;
}
.featurecontant>h2{
	font-family: "OpenSans Regular";
	font-size: 12.41pt;
	color: #020243;
	text-align: center;
	letter-spacing: 8px;
	margin-top: 36%;
	margin-bottom: 19px;
}
.featurecontant>button{
	background: #020243;
	border: 1px solid #020243;
	font-family: "OpenSans Regular";
	font-size: 19px;
	color:#fff;
	letter-spacing: 5px;
	width: 68%;
	margin-left: 17%;
	margin-bottom: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.featurecontant>button:hover{
	-moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
	border: 1px solid #020243;
	background: none;
	color: #020243;
} 
 

.img2colon{
	padding: 0px!important;
	margin: 0px!important;
	max-width:46.3%;

}
.img2colon>img{
	width: 100%;
}


@media screen and (max-width: 1198px){
.featurecontant{
width: 85%;
margin-right:auto;
margin-left: auto;

}
 
 
.costumrow{
	border-top: 0px solid #BABABA;
	border-bottom: 0px solid #BABABA;
}
.colborder1{
border-top: 1px solid #BABABA;
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.colborder2{
border-left: 1px solid #BABABA;
border-right:1px solid #BABABA; 
border-bottom: 1px solid #BABABA;
}
.costumcol{
display: block;
max-width: 683px;
margin-right: auto;
margin-left: auto;
}
}
@media screen and (max-width: 651px){
.colborder1{
 border-top: 0px solid #BABABA;
 border-left:0px solid #BABABA;
 border-right:0px solid #BABABA; 
 border-bottom: 0px;
}
.img1colon>img{
	width: 312px;
	margin-left: 3px;
}
.img2colon>img{
	width: 312px;
	margin-left: 3px;
}
.colborder2{
border:0px solid #BABABA;
}
.txt1colon{
 width: 310px;
 margin-left: 3px;
}
.featurecontant{
 
width: 100%;
}
.costumcol{
display: block;
max-width: 320px;
margin-right: auto;
margin-left: auto;
}

}

/*  ------------------------------------  *Latest cars *   -----------------------------------   */

.latestcars>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	letter-spacing: 10px;
	padding-top: 66px;
	padding-bottom: 70px;
	color: #020243;
}




/*-----------------------------------Image Car Thumbnail --------------------------*/

.txtcontent{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(12,12,12,.7);
	width: 100%;
	height: 100%;
	 opacity: 0;
	-webkit-transition: opacity 500ms;
  	-moz-transition: opacity 500ms;
  	-o-transition: opacity 500ms;
  	transition: opacity 500ms;


}
 .stars{
 	font-size: 7px;
	padding-top: 57px;
	padding-bottom: 12px;
	text-align: center;
	border-bottom: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.simpletxt{
	text-align: center;
	border-top: 1px solid #F6F6FB;
	border-bottom: 1px solid #F6F6FB;
	margin-top: 2px;
	margin-left: 58px;
	margin-right: 58px;
	padding-top: 40px;
}
.simpletxt>h3{
	font-family: "OpenSans Semibold";
	font-size: 13.6px;
	color:#E7E7E7;
	margin: 0px;
}
.simpletxt>p{
	font-family: "OpenSans Regular";
	font-size: 11.2px;
	color: #E7E7E7;
	padding-top: 7px;
}

.simpletxt>button{
	background: none;
	border: 1px solid #fff;
	font-family:"OpenSans Regular";
	color: #fff;
	margin-bottom: 14px;
}
.stars2{
 	font-size: 7px;
	padding-top: 10px;
	margin-top: 2px;
	text-align: center;
	border-top: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

}
.txthover>img{
	width:100%;

}
.txthover:hover .txtcontent{
	opacity: 1;
}
@media screen and (min-width: 320px) and (max-width: 766px){
 .stars{
	padding-top: 20px;
}
}
@media screen and (min-width: 1200px)and (max-width: 1280px){
.stars{
	padding-top: 37px;
}
}
/*  -----------------     End Latest Cars Images    ------------------------ */



 
